#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp LC(0)           &kp LC(MINUS)   &kp LC(EQUAL)
                &kp LS(LA(LEFT))    &open_apps      &kp LS(LA(RIGHT))
                &kp LG(L)           &split_view     &copy_and_comment
            >;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 4 2>;
            bindings = <&bootloader>;
        };
    };

    macros {
        copy_and_comment: copy_and_comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(C)>
                , <&kp LC(V)>
                , <&kp UP>
                , <&kp LC(SLASH)>
                , <&kp DOWN>
                , <&kp END>
                ;
        };

        open_apps: open_apps {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LG(N1)>
                , <&kp LG(N4)>
                , <&kp LG(N5)>
                ;
        };


        split_view: split_view {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LG(LEFT)>
                , <&kp LA(TAB)>
                , <&kp LG(RIGHT)>
                ;
        };
    };
};
